{% load static %}

<!-- Footer-->
<footer class="footer py-4">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-4 text-lg-start">Sentiment classification</div>
            <div class="col-lg-4 my-3 my-lg-0">
            </div>
            <div class="col-lg-4 text-lg-end">
                <a class="link-dark text-decoration-none me-3" href="#!">mollangbaby</a>
                <a class="link-dark text-decoration-none" href="https://github.com/mollangbaby/DL_senti_classification">git</a>
            </div>
        </div>
    </div>
</footer>